<head class="w-screen flex justify-between p-2 bg-pink-300 items-center">
  <button class="text-white px-4 py-2 rounded text-2xl" (click)="goBack()"><i class="fa-solid fa-angle-left"></i></button>
  <h1 class="text-2xl font-extrabold">Tambah Mamm</h1>
  <button class="text-white px-4 py-2 rounded text-2xl"></button>
</head>

<body class="w-screen">
  <div *ngIf="loading" class="w-screen h-screen absolute flex flex-col z-10 top-0 bg-black/70 justify-center items-center">
      <div class="loadingio-spinner-double-ring-cwl4tjctq1"><div class="ldio-ad84adzkb5t">
        <div></div>
        <div></div>
        <div><div></div></div>
        <div><div></div></div>
        </div></div>
  </div>
  <form class="m-4" (ngSubmit)="addItem()">

    <div class="flex flex-col gap-4 my-4">
      <label for="tanggal">Tanggal</label>
      <input class="px-4 py-2" type="date" id="tanggal" name="tanggal" [(ngModel)]="newItem.tanggal">
    </div>

    <div class="flex flex-col my-4">
      <label for="nama">Mamm apa?</label>
      <input class="px-4 py-2" type="text" id="nama" name="nama" [(ngModel)]="newItem.nama">
    </div>

    <div class="flex flex-col my-4">
      <label for="harga">Harga</label>
      <input class="px-4 py-2" type="number" id="harga" name="harga" [(ngModel)]="newItem.harga">
    </div>

    <div class="flex flex-col">
      <button class="bg-pink-500 text-white px-4 py-2 rounded my-2" type="submit">Tambah</button>
    </div>
  </form>
</body>
