<head class="w-screen flex justify-between p-2 bg-pink-300 items-center">
   <h1 class="text-black text-3xl font-black">Mammm</h1>
   <button class="text-white px-4 py-2 rounded text-2xl" (click)="navigateToAddPage()"><i class="fa-solid fa-plus"></i></button>
</head>
<body>
   <section class="m-4">
      <div *ngIf="loading">Loading...</div>
      <div class="w-full flex flex-col my-8 gap-4">
         <div class="w-full flex">
           <label class="w-1/4" for="month">Bulan:</label>
           <select class="h-8 w-1/2 px-2" id="month" name="month" [(ngModel)]="selectedMonth" (change)="fetchItems()">
             <option class="p-2" *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
           </select>
         </div>
         
         <div class="w-full flex">
           <label class="w-1/4" for="year">Tahun:</label>
           <select class="h-8 w-1/2 px-2" id="year" name="year" [(ngModel)]="selectedYear" (change)="fetchItems()">
             <option class=" p-2" *ngFor="let year of years" [value]="year">{{ year }}</option>
           </select>
         </div>
      </div>
      
      <table class="w-full my-8" *ngIf="!loading">
         <thead class="bg-pink-500 text-white">
           <tr>
             <th class="p-2">Tgl</th>
             <th class="p-2">Item</th>
             <th class="p-2">Harga</th>
             <th class="m-0 p-0"></th>
           </tr>
         </thead>
         <tbody>
            <tr *ngFor="let item of items">
               <td class="px-2 text-center">{{ item.tanggal }}</td>
               <td class="px-2">{{ item.nama }}</td>
               <td class="px-2">{{ item.harga | rupiah }}</td>
               <td class="p-2 text-center">
                 <button class="bg-pink-500 text-white px-2 py-1 rounded" (click)="deleteItem(item)"><i class="fa-solid fa-trash"></i></button>
               </td>
             </tr>
         </tbody>
       </table>
   </section>
    
   <section>
      <h1 class="text-center text-2xl">Statistik</h1>
      <div class="flex flex-col items-center m-4">
        <h2 class="mb-2">Total Pengeluaran Bulan Ini: </h2>
        <div class="bg-pink-500 text-white w-full p-4 text-center rounded-xl text-3xl font-bold">{{ totalHarga | rupiah }}</div>
      </div>
      <div class="flex flex-col items-center m-4">
        <h2 class="mb-2">Sisa Budget Bulan Ini: </h2>
        <div class="bg-pink-500 text-white w-full p-4 text-center rounded-xl text-3xl font-bold">{{ sisaBudget | rupiah }}</div>
      </div>
   </section>
</body>
 
