<head class="w-screen flex justify-between p-2 bg-pink-500 items-center">
  <button (click)="toggleMenu()" class="text-white px-4 py-2 rounded text-2xl"><i class="fas fa-bars"></i></button>
  <div class="flex flex-row justify-center items-center gap-2">
    <img src="../../assets/pizza.png" alt="" class="w-12">
    <h1 class="text-white text-3xl font-black">Mammm</h1>
  </div>
  <button class="text-white px-4 py-2 rounded text-2xl" (click)="navigateToAddPage()"><i class="fa-solid fa-plus"></i></button>
</head>
<div id="menu" class="w-screen h-screen absolute flex flex-col z-10 top-0 bg-black/60 justify-between items-left" [ngClass]="{'hidden': !isMenuOpen}">
  <div class="bg-pink-200 flex flex-col w-2/3 h-full">
    <div class="flex w-full top-0 p-2">
      <button (click)="hideMenu()" class="text-pink-500 px-4 py-2 rounded text-2xl"><i class="fa-solid fa-xmark"></i></button>
    </div>

    <div class="flex flex-col justify-center w-full h-full gap-4">
      <button class="text-pink-500 text-xl font-bold" routerLink="/dashboard">Home</button>
      <button class="text-pink-500 text-xl font-bold" routerLink="/spinner">Spinner</button>
    </div>

  </div>
</div>
<body>
  <div *ngIf="loading" class="w-screen h-screen absolute flex flex-col z-10 top-0 bg-black/70 justify-center items-center">
    <div class="loadingio-spinner-double-ring-cwl4tjctq1"><div class="ldio-ad84adzkb5t">
      <div></div>
      <div></div>
      <div><div></div></div>
      <div><div></div></div>
      </div></div>
  </div>
   <section class="m-4">
      <div class="w-full flex flex-col my-8 gap-4">
         <div class="w-full flex">
           <label class="w-1/4" for="month">Bulan:</label>
           <select class="h-8 w-1/2 px-2" id="month" name="month" [(ngModel)]="selectedMonth" (change)="fetchItems()">
             <option class="p-2" *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
           </select>
         </div>
         
         <div class="w-full flex">
           <label class="w-1/4" for="year">Tahun:</label>
           <select class="h-8 w-1/2 px-2" id="year" name="year" [(ngModel)]="selectedYear" (change)="fetchItems()">
             <option class=" p-2" *ngFor="let year of years" [value]="year">{{ year }}</option>
           </select>
         </div>
      </div>
      
      <div class="w-full max-h-64 overflow-y-auto">
        <table class="w-full" *ngIf="!loading">
          <thead class="bg-pink-500 text-white sticky top-0">
            <tr>
              <th class="p-2">Tgl</th>
              <th class="p-2">Item</th>
              <th class="p-2">Harga</th>
              <th class="m-0 p-0"></th>
            </tr>
          </thead>
           <tbody>
              <tr *ngFor="let item of items">
                 <td class="px-2 text-center">{{ item.tanggal }}</td>
                 <td class="px-2">{{ item.nama }}</td>
                 <td class="px-2">{{ item.harga | rupiah }}</td>
                 <td class="p-2 text-center">
                   <button class="bg-pink-500 text-white px-2 py-1 rounded" (click)="deleteItem(item)"><i class="fa-solid fa-trash"></i></button>
                 </td>
               </tr>
           </tbody>
         </table>
      </div>
   </section>
    
   <section>
      <h1 class="text-center text-2xl bg-pink-300 py-2">Statistik</h1>
      <div class="flex flex-col items-center m-4">
        <h2 class="mb-2">Total Pengeluaran per Minggu</h2>
        <div class="w-full flex flex-wrap justify-between">

          <div class="w-[48%]" *ngFor="let expense of weeklyExpenses; let i = index" >
            <h2 class="mb-2 text-center text-sm">Minggu {{ i + 1 }}: </h2>
            <div class="bg-pink-500 text-white w-full p-6 text-center rounded-xl text-l font-bold mb-2">
              {{ expense | rupiah }}
            </div>
          </div>

          
        </div>
        <div *ngIf="weeklyExpenses.length === 0" class="bg-pink-500 text-white w-3/4 p-3 text-center rounded-xl text-xl font-bold mb-2">
          Data tidak tersedia
        </div>
      </div>
      
      <div class="flex flex-col items-center m-4">
        <h2 class="mb-2">Total Pengeluaran Bulan Ini: </h2>
        <div class="bg-pink-500 text-white w-3/4 p-3 text-center rounded-xl text-xl font-bold">{{ totalHarga | rupiah }}</div>
      </div>
      <div class="flex flex-col items-center m-4">
        <h2 class="mb-2">Sisa Budget Bulan Ini: </h2>
        <div class="border border-pink-500 text-pink-500 w-3/4 p-3 text-center rounded-xl text-xl font-bold">{{ sisaBudget | rupiah }}</div>
      </div>

   </section>

</body>
 
